.defaultButton {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 180px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    line-height: 1;
    border: none;
}
.primaryButton {
    composes: defaultButton;
    background-color: #1400fe;
    color: #fdfbfa;
}
.primaryButton:hover,
.primaryButton:focus {
    background-color: #1400fe;
    color: #fdfbfa;
    /* No outline or border */
}
.secondaryButton {
    composes: defaultButton;
    background-color: #cd0600;
    color: #fdfbfa;
    border: none;
}
.secondaryButton:hover,
.secondaryButton:focus {
    background-color: #cd0600;
    color: #fdfbfa;
    /* No outline or border */
}
.cardPrimaryButton {
    composes: defaultButton;
    background-color: #1400fe;
    color: #fdfbfa;
}
.cardPrimaryButton:hover,
.cardPrimaryButton:focus {
    background-color: #cd0600;
    color: #fdfbfa;
}
@media (max-width: 768px) {
    .defaultButton {
      width: 100%;
      max-width: 300px;
    }
}